html {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

body {
  padding: 2rem;
  max-width: 80ch;
  margin: 0 auto;
}

h1 {
  font-size: 1rem;
  font-weight: normal;
  margin: 2rem 0 2rem 0;
  display: flex;
}

h1::before {
  content: ">";
  margin-right: 1ch;
}

h1::after {
  content: "";
  display: inline-block;
  background: black;
  width: 1ch;
  height: 1rem;
  animation: cursor 800ms infinite;
  margin-left: 1ch;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px dashed;
  margin: 3rem 0 1rem 0;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
  border-bottom: 1px dashed;
  display: inline-block;
  margin: 1rem 0 1rem 0;
}

p {
  margin: 0 0 1rem 0;
}

nav a {
  display: block;
  margin: 0 0 1rem 0;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0 0 1rem 0;
}

li {
  display: flex;
}

li:before {
  content: "-";
  margin-right: 1ch;
}

blockquote {
  margin: 2rem 0 1rem 0;
}
